h1,
h2 {
  line-height: 1;
}

h1 > time {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.871);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.871);
  }
}

h3 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.871);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.871);
  }
}

.single-line {
  line-height: 5rem;
}

/* Latin, Greek, Cyrillic, Hebrew, Arabic, Devanagari, Thai, Georgian */
.display {
  font-family:
    "FiraGO", "Noto Sans Armenian", "Klee One", "BIZ UDGothic", "Nanum Gothic", "LXGW WenKai TC",
    "Noto Sans Mongolian", "Hind Siliguri", "Mukta Vaani", "Mukta Mahee", "Mukta Malar",
    "Baloo Tammudu 2", "Anek Kannada", "Baloo Tamma 2", "Manjari", "Meera", "Baloo Bhaina 2",
    "Noto Sans Meetei Mayek", "Noto Sans Ol Chiki", "Yaldevi", "Noto Sans Sinhala",
    "MiSans Tibetan", "Noto Sans Lao", "Noto Sans Khmer", "Noto Sans Myanmar", "Noto Sans Ethiopic",
    sans-serif;
}

/* Armenian */
.display-hy {
  font-family: "FiraGO", "Noto Sans Armenian", sans-serif;
}

/* Japanese (Hiragana, Katakana, Kanji) */
.display-ja {
  font-family: "Klee One", "BIZ UDGothic", "FiraGO", sans-serif;
}

/* Hangul */
.display-ko {
  font-family: "Nanum Gothic", "FiraGO", sans-serif;
}

/* Han Chinese (Traditional, but Simplified is also supported) */
.display-zh,
.display-zh-hans,
.display-zh-hant {
  font-family: "LXGW WenKai TC", "FiraGO", sans-serif;
}

/* Mongolian */
.display-mn,
.display-mn-mong {
  font-family: "FiraGO", "Noto Sans Mongolian", sans-serif;
}

/* Bengali */
.display-bn,
.display-as {
  font-family: "Hind Siliguri", sans-serif;
}

/* Gujarati  */
.display-gu {
  font-family: "Mukta Vaani", sans-serif;
}

/* Gurmukhi  */
.display-pa,
.display-pa-guru {
  font-family: "Mukta Mahee", sans-serif;
}

/* Tamil  */
.display-ta {
  font-family: "Mukta Malar", sans-serif;
}

/* Telugu */
.display-te {
  font-family: "Baloo Tammudu 2", sans-serif;
}

/* Kannada */
.display-kn {
  /* font-family: "Baloo Tamma 2", sans-serif; */
  font-family: "Anek Kannada", sans-serif;
}

/* Malayalam */
.display-ml {
  font-family: "Manjari", "Meera", sans-serif;
}

/* Oriya */
.display-or {
  font-family: "Baloo Bhaina 2", sans-serif;
}

/* Meetei Mayek */
.display-mni {
  font-family: "Noto Sans Meetei Mayek", "Hind Siliguri", sans-serif;
}

/* Ol Chiki */
.display-sat,
.display-olck {
  font-family: "FiraGO", "Noto Sans Ol Chiki", sans-serif;
}

/* Sinhala */
.display-si {
  font-family: "Yaldevi", "Noto Sans Sinhala", sans-serif;
}

/* Tibetan, Dzongkha */
.display-bo,
.display-dz {
  font-family: "MiSans Tibetan", "FiraGO", "Jomolhari", sans-serif;
}

/* Lao */
.display-lo {
  font-family: "FiraGO", "Noto Sans Lao", sans-serif;
}

/* Khmer */
.display-km {
  font-family: "FiraGO", "Noto Sans Khmer", sans-serif;
}

/* Myanmar */
.display-my {
  font-family: "Padauk", "Noto Sans Myanmar", sans-serif;
}

/* Amharic, Tigrinya */
.display-am,
.display-ti {
  font-family: "FiraGO", "Noto Sans Ethiopic", sans-serif;
}

.locale {
  text-decoration: underline double;
}
