.region-data {
  text-align: center;
  margin: 3rem 0;
}

.region-data > h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #03013b;
  color: oklch(16.497% 0.10646 268.307);
  text-decoration: underline;
}

.region-data > p {
  margin: 0;
  font-size: 1.25rem;
  color: #03013b;
  color: oklch(16.497% 0.10646 268.307);
}
