.region-data {
  text-align: center;
  margin-block: 3rem;
  margin-inline: 0;
}

.region-data > h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #03013b;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(16.497% 0.10646 268.307);
  }
  /* color: rgba(255, 255, 255, 0.871);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.871);
  } */
  text-decoration: underline;
}

.region-data > p {
  margin: 0;
  font-size: 1.25rem;
  color: #03013b;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(16.497% 0.10646 268.307);
  }
  /* color: rgba(255, 255, 255, 0.871);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.871);
  } */
}
