.region-data {
  text-align: center;
  margin: 3rem 0;
}

.region-data h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #03013b;
  text-decoration: underline;
}

.region-data p {
  margin: 0;
  font-size: 1.25rem;
  color: #03013b;
}
