/* Toggle input */
/* A super long snippet of codes due to being converted from SCSS*/
/* by Chris Hart from https://codepen.io/personable/pen/NWLZrV */
/* (copied from https://www.sliderrevolution.com/resources/css-toggle-switch/) */
/* OKLCH supports added by Ahmad Fauzan Bagaskoro */
.can-toggle {
  position: relative;
}
.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  /* top: 0;
  left: 0; */
  inset-block-start: 0;
  inset-inline-start: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  /* left: 0; */
  inset-inline-start: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  /* top: 0; */
  inset-block-start: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  @supports (color: oklch(0% 0 0)) {
    background: oklch(100% 0.00011 271.152);
  }
  transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(56.926% 0.00006 271.152 / 0.5);
  }
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch,
.can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #777;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(56.926% 0.00006 271.152);
  }
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #5e5e5e;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(48.193% 0.00005 271.152);
  }
}
.can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(52.431% 0.00006 271.152);
  }
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #55bc49;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(70.927% 0.18132 141.639);
  }
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(75.24% 0.15652 141.965);
  }
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #4fb743;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(69.345% 0.18232 141.648);
  }
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch,
.can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #5fc054;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(72.476% 0.17274 141.714);
  }
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #47a43d;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(63.998% 0.16624 141.76);
  }
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #848484;
  @supports (color: oklch(0% 0 0)) {
    background: oklch(61.335% 0.00007 271.152);
  }
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.5);
  }
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(56.926% 0.00006 271.152);
  }
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 3px 3px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(65px, 0, 0);
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 3px 3px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle label {
  font-size: 10px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  /* left: 67px; */
  inset-inline-start: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  /* top: 2px;
  left: 2px; */
  inset-block-start: 2px;
  inset-inline-start: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 3px 3px oklch(0% 0 0 / 0.4);
  }
}

.can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 2px 2px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.can-toggle--size-small
  input[type="checkbox"]:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(44px, 0, 0);
}
.can-toggle.can-toggle--size-small
  input[type="checkbox"]:checked:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle.can-toggle--size-small
  input[type="checkbox"]:checked:hover
  ~ label
  .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 2px 2px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 24px;
  flex: 0 0 90px;
  border-radius: 2px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  /* left: 45px; */
  inset-inline-start: 45px;
  font-size: 10px;
  line-height: 24px;
  width: 45px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  /* top: 1px;
  left: 1px; */
  inset-block-start: 1px;
  inset-inline-start: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 22px;
  font-size: 10px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 2px 2px oklch(0% 0 0 / 0.4);
  }
}

.can-toggle.can-toggle--size-large input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.can-toggle--size-large input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.can-toggle--size-large
  input[type="checkbox"]:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(78px, 0, 0);
}
.can-toggle.can-toggle--size-large
  input[type="checkbox"]:checked:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle.can-toggle--size-large
  input[type="checkbox"]:checked:hover
  ~ label
  .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  /* left: 80px; */
  inset-inline-start: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  /* top: 2px;
  left: 2px; */
  inset-block-start: 2px;
  inset-inline-start: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}

.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(54.698% 0.16205 355.791 / 0.5);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(54.698% 0.16205 355.791);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(46.256% 0.13427 355.322);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #a23768;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(50.462% 0.14903 355.484);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #39916a;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(59.253% 0.10415 161.443);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(67.665% 0.12083 161.259);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(57.168% 0.10014 161.603);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3d9c72;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(62.472% 0.11061 161.412);
  }
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #2f7757;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(51.441% 0.08881 161.574);
  }
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.3s ease-in-out;
  background: #c14b81;
  @supports (color: oklch(0% 0 0)) {
    background: oklch(58.519% 0.16061 354.735);
  }
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(100% 0.00011 271.152 / 0.6);
  }
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  color: #b53e74;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(54.698% 0.16205 355.791);
  }
}

.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
  @supports (color: oklch(0% 0 0)) {
    color: oklch(38.666% 0.00004 271.152 / 0.5);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #444;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(38.666% 0.00004 271.152);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #2b2b2b;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(28.908% 0.00003 271.152);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
  color: #373737;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(33.68% 0.00004 271.152);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
  color: #62b125;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(68.353% 0.18483 135.183);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(77.875% 0.21168 135.286);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #5da924;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(66.045% 0.17821 135.32);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #69be28;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(72.018% 0.19537 135.272);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #52941f;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(59.978% 0.1606 135.071);
  }
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #515151;
  @supports (color: oklch(0% 0 0)) {
    background: oklch(43.495% 0.00005 271.152);
  }
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
  @supports (color: oklch(0% 0 0)) {
    color: oklab(100% 0 -0.00011 / 0.7);
  }
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(38.666% 0.00004 271.152);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(58px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 60px;
  flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  /* left: 60px; */
  inset-inline-start: 60px;
  font-size: 13px;
  line-height: 60px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  /* top: 2px;
  left: 2px; */
  inset-block-start: 2px;
  inset-inline-start: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 56px;
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  @supports (color: oklch(0% 0 0)) {
    box-shadow: 0 4px 4px oklch(0% 0 0 / 0.4);
  }
}
