h1,
p,
select {
  color: lavender;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(93.09% 0.02705 285.814);
  }
}

select {
  font-family: "FiraGO", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  @supports (color: oklch(0% 0 0)) {
    border: 1px solid oklch(84.522% 0.0001 271.152);
  }
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: flex;
  place-items: start;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #695656;
  color: lavenderblush;
  @supports (color: oklch(0% 0 0)) {
    background-color: oklch(47.219% 0.02515 17.964);
    color: oklch(96.834% 0.01742 354.741);
  }
  cursor: pointer;
  float: inline-end;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #4249d7;
  color: navy;
  @supports (color: oklch(0% 0 0)) {
    border-color: oklch(60.698% 0.21466 275.613);
    background-color: oklch(49.419% 0.21277 273.376);
    color: oklch(27.116% 0.18794 264.073);
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

.toolbar {
  padding: 20px;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-25,
.col-75 {
  margin-top: 6px;
  float: inline-start;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  label {
    display: flex;
    place-items: center;
  }

  .col-25,
  .col-75,
  button {
    width: 100%;
    margin-top: 0;
  }

  button {
    margin-bottom: 1rem;
  }
}
