/* * Embedded Fonts */
/* Latin, Greek, Cyrillic, Hebrew, Arabic, Devanagari, Thai, Georgian */
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* Armenian */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100..900&display=swap");
/* Japanese (Hiragana, Katakana, Kanji) */
@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");
/* Hangul */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* Han Chinese (Traditional, but Simplified is also supported) */
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@300;400;700&display=swap");
/* Mongolian */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&display=swap");
/* Bengali */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
/* Gujarati (Mukta Vaani), Gurmukhi (Mukta Mahee), Tamil (Mukta Malar)  */
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");
/* Telugu */
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&display=swap");
/* Kannada */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap");
/* Malayalam */
/* @import url("https://smc.org.in/fonts/manjari.css"); */
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url("https://smc.org.in/fonts/meera.css");
/* Oriya */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");
/* Meetei Mayek */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Meetei+Mayek:wght@100..900&display=swap");
/* Ol Chiki */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ol+Chiki:wght@400..700&display=swap");
/* Sinhala */
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&display=swap");
/* Tibetan, Dzongkha */
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
/* Lao */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
/* Khmer */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap");
/* Myanmar */
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Amharic, Tigrinya */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wdth,wght@62.5..100,100..900&display=swap");

/* * Web Fonts */
/* ? WOFF2 for modern browsers, WOFF for older browsers */
/* Tibetan, Dzongkha (MiSans Tibetan) */
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Thin.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-ExtraLight.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Light.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Normal.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Normal.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Medium.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Regular.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Regular.woff") format("woff");
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Semibold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Demibold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Demibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Bold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "MiSans Tibetan";
  src: url("./assets/webfonts/woff2/MiSansTibetan-Heavy.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Heavy.woff") format("woff");
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "FiraGO", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* ? Background settings from https://cssgradient.io/ */
  background: oklch(12.157% 0.07907 270.925);
  background: -moz-linear-gradient(
    180deg,
    oklch(12.157% 0.07907 270.925) 0%,
    oklch(27.235% 0.17226 267) 50%,
    oklch(80.427% 0.146 219.548) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    oklch(12.157% 0.07907 270.925) 0%,
    oklch(27.235% 0.17226 267) 50%,
    oklch(80.427% 0.146 219.548) 100%
  );
  background: linear-gradient(
    180deg,
    oklch(12.157% 0.07907 270.925) 0%,
    oklch(27.235% 0.17226 267) 50%,
    oklch(80.427% 0.146 219.548) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
