/* * Embedded Fonts */
/* Latin, Greek, Cyrillic, Hebrew, Arabic, Devanagari, Thai, Georgian */
/* ! the following embedded font link is disabled by the fonts author */
/* @import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"); */
/* Armenian */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100..900&display=swap");
/* Japanese (Hiragana, Katakana, Kanji) */
@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");
/* Hangul */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* Han Chinese (Traditional, but Simplified is also supported) */
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@300;400;700&display=swap");
/* Mongolian */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&display=swap");
/* Bengali */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
/* Gujarati (Mukta Vaani), Gurmukhi (Mukta Mahee), Tamil (Mukta Malar)  */
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");
/* Telugu */
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&display=swap");
/* Kannada */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap");
/* Malayalam */
/* @import url("https://smc.org.in/fonts/manjari.css"); */
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url("https://smc.org.in/fonts/meera.css");
/* Oriya */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");
/* Meetei Mayek */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Meetei+Mayek:wght@100..900&display=swap");
/* Ol Chiki */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ol+Chiki:wght@400..700&display=swap");
/* Sinhala */
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&display=swap");
/* Tibetan, Dzongkha */
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
/* Lao */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
/* Khmer */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap");
/* Myanmar */
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Amharic, Tigrinya */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wdth,wght@62.5..100,100..900&display=swap");

/* * Web Fonts */
/* ? WOFF2 for modern browsers, WOFF for older browsers */
/* Latin, Greek, Cyrillic, Hebrew, Arabic, Devanagari, Thai, Georgian (FiraGO) */
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Two.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Two.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Two.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-TwoItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-TwoItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-TwoItalic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Four.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Four.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Four.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-FourItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-FourItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-FourItalic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Eight.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Eight.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Eight.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-EightItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-EightItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-EightItalic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Hair.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Hair.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Hair.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-HairItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-HairItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-HairItalic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Thin.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Thin.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Thin.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-ThinItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-ThinItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-ThinItalic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-UltraLight.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-UltraLight.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-UltraLight.eot") format("eot");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-UltraLightItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-UltraLightItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-UltraLightItalic.eot") format("eot");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-ExtraLight.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-ExtraLight.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-ExtraLight.eot") format("eot");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-ExtraLightItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-ExtraLightItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-ExtraLightItalic.eot") format("eot");
  font-weight: 250;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Light.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Light.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Light.eot") format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-LightItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-LightItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-LightItalic.eot") format("eot");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Book.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Book.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Book.eot") format("eot");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-BookItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-BookItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-BookItalic.eot") format("eot");
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Regular.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Regular.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Italic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Italic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Italic.eot") format("eot");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Medium.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Medium.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-MediumItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-MediumItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-MediumItalic.eot") format("eot");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-SemiBold.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-SemiBold.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-SemiBold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-SemiBoldItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-SemiBoldItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-SemiBoldItalic.eot") format("eot");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Bold.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Bold.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-BoldItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-BoldItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-BoldItalic.eot") format("eot");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-ExtraBold.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-ExtraBold.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-ExtraBold.eot") format("eot");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-ExtraBoldItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-ExtraBoldItalic.eot") format("eot");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-Heavy.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-Heavy.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-Heavy.eot") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src:
    url("./assets/webfonts/woff2/FiraGO-HeavyItalic.woff2") format("woff2"),
    url("./assets/webfonts/woff/FiraGO-HeavyItalic.woff") format("woff"),
    url("./assets/webfonts/eot/FiraGO-HeavyItalic.eot") format("eot");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
/* Tibetan, Dzongkha (MiSans Tibetan) */
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Thin.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-ExtraLight.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Light.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Normal.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Normal.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Regular.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Medium.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Semibold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Demibold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Demibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Bold.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "MiSans Tibetan";
  src:
    url("./assets/webfonts/woff2/MiSansTibetan-Heavy.woff2") format("woff2"),
    url("./assets/webfonts/woff/MiSansTibetan-Heavy.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "FiraGO", sans-serif;
  font-feature-settings: "calt", "liga", "dlig", "clig", "kern", "rlig";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* ? Background settings from https://cssgradient.io/ */
  background: #020024;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  background: -webkit-linear-gradient(180deg, #020024 0%, #090979 50%, #00d4ff 100%);
  background: -moz-linear-gradient(180deg, #020024 0%, #090979 50%, #00d4ff 100%);
  background: linear-gradient(180deg, #020024 0%, #090979 50%, #00d4ff 100%);

  /* ? Improved by Deepseek AI */
  /* * Modern version with OKLCH - for supporting browsers */
  @supports (color: oklch(0% 0 0)) {
    background: oklch(12.157% 0.07907 270.925);
    background: linear-gradient(
      180deg,
      oklch(12.157% 0.07907 270.925) 0%,
      oklch(27.235% 0.17226 267) 50%,
      oklch(80.427% 0.146 219.548) 100%
    );
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
